Repository thehubbleproject/hubble-contracts, pull requests merged in 2021-07, with the labels that each got.

#622 Add error logging handler for provider
  ts/client/node.ts
Labels: client

#619 complete DB integration with AccountTree
  package-lock.json
  package.json
  test/client/integration.test.ts
  ts/accountTree.ts
  ts/client/database/connection.ts
  ts/client/database/databaseEngine.ts
  ts/client/database/pubkeyEngine.ts
  ts/client/storageEngine/batches/interfaces.ts
  ts/client/storageEngine/interfaces.ts
  ts/client/storageEngine/memoryEngine.ts
  ts/tree/dbTree.ts
  ts/tree/leaves/Leaf.ts
  ts/tree/leaves/Node.ts
  ts/tree/leaves/PubkeyLeaf.ts
  ts/tree/leaves/StateLeaf.ts
  ts/tree/tree.ts
Labels: client

#621 Multi Token Pool
  config.local.json
  contracts/test/CustomToken.sol
  contracts/test/ExampleToken.sol
  docker/config.docker.json
  scripts/deploy.ts
  test/client/deposit.test.ts
  test/client/integration.test.ts
  test/client/transaction.test.ts
  test/fast/txPool.test.ts
  test/integration.test.ts
  test/slow/commit.create2transfer.test.ts
  test/slow/commit.transfer.test.ts
  test/slow/rollup.massMigration.test.ts
  ts/allContractsInterfaces.ts
  ts/client/config.ts
  ts/client/features/deposit.ts
  ts/client/features/interface.ts
  ts/client/features/transfer.ts
  ts/client/node.ts
  ts/client/services/events/batchPubkeyRegistered.ts
  ts/client/stateTransitions.ts
  ts/client/storageEngine/interfaces.ts
  ts/client/txPool.ts
  ts/deploy.ts
  ts/exceptions.ts
  ts/factory.ts
  ts/genesis.ts
  ts/hubble.ts
  ts/mcl.ts
  ts/state.ts
  ts/stateTree.ts
Labels: client, contracts

#631 Fix nonce equality check to use .eq
  ts/client/features/transfer.ts
Labels: bugfix, client

#630 Integrated db engine with states
  test/client/integration.test.ts
  ts/client/database/index.ts
  ts/client/database/stateEngine.ts
  ts/factory.ts
  ts/tree/leaves/StateLeaf.ts
Labels: client

#633 remove dead code processTransferCommit
  ts/client/stateTransitions.ts
Labels: client

#635 Delay rpc calls until node synced
  test/client/integration.test.ts
  ts/client/node.ts
Labels: client
