Repository thehubbleproject/hubble-contracts, pull requests merged in 2021-01, with the labels that each got.

#450 Make batch update function non destructive
  contracts/AccountTree.sol
Labels: bugfix, performance

#409 BN pairing precompile cost estimator
  .github/workflows/nodejs.yml
  contracts/deployment/Deployer.sol
  contracts/deployment/Proxy.sol
  contracts/libs/BLS.sol
  contracts/libs/BNPairingPrecompileCostEstimator.sol
  contracts/test/SimpleStorage.sol
  package.json
  scripts/keyless.ts
  scripts/logger.ts
  test/fast/bls.test.ts
  test/fast/deployment.test.ts
  test/fast/pairingGasCostEstimator.test.ts
  test/integration.test.ts
  test/slow/commit.create2transfer.test.ts
  test/slow/commit.massMigration.test.ts
  test/slow/commit.transfer.test.ts
  ts/deployment/deploy.ts
  ts/deployment/deployDeployer.ts
  ts/deployment/deployer.ts
  ts/deployment/keylessDeployment.ts
  ts/deployment/static.ts
Labels: enhancement

#449 Migrate to Solidity 0.6
  .solhint.json
  contracts/AccountTree.sol
  contracts/BLSAccountRegistry.sol
  contracts/Create2Transfer.sol
  contracts/DepositManager.sol
  contracts/MassMigrations.sol
  contracts/SpokeRegistry.sol
  contracts/TokenRegistry.sol
  contracts/Transfer.sol
  contracts/Vault.sol
  contracts/WithdrawManager.sol
  contracts/client/FrontendCreate2Transfer.sol
  contracts/client/FrontendGeneric.sol
  contracts/client/FrontendMassMigration.sol
  contracts/client/FrontendTransfer.sol
  contracts/client/FrontendUtilities.sol
  contracts/client/Offchain.sol
  contracts/deployment/Deployer.sol
  contracts/deployment/Proxy.sol
  contracts/libs/Authenticity.sol
  contracts/libs/BLS.sol
  contracts/libs/BNPairingPrecompileCostEstimator.sol
  contracts/libs/Bitmap.sol
  contracts/libs/MerkleTree.sol
  contracts/libs/ModExp.sol
  contracts/libs/Transition.sol
  contracts/libs/Tx.sol
  contracts/libs/Types.sol
  contracts/proposers/BurnAuction.sol
  contracts/proposers/Chooser.sol
  contracts/proposers/POB.sol
  contracts/rollup/BatchManager.sol
  contracts/rollup/Parameters.sol
  contracts/rollup/Rollup.sol
  contracts/test/ExampleToken.sol
  contracts/test/SimpleStorage.sol
  contracts/test/TestAccountTree.sol
  contracts/test/TestBLS.sol
  contracts/test/TestBitmap.sol
  contracts/test/TestBurnAuction.sol
  contracts/test/TestCreate2Transfer.sol
  contracts/test/TestDepositCore.sol
  contracts/test/TestMassMigration.sol
  contracts/test/TestMerkleTree.sol
  contracts/test/TestRollup.sol
  contracts/test/TestTransfer.sol
  contracts/test/TestTx.sol
  contracts/test/TestTypes.sol
  hardhat.config.ts
  package-lock.json
  package.json
  ts/deployment/keylessDeployment.ts
  ts/deployment/static.ts
Labels: enhancement

#452 set account tree first default hash to be 0x290...
  contracts/AccountTree.sol
  test/fast/accountTree.test.ts
  test/fast/registry.test.ts
  ts/accountTree.ts
Labels: enhancement

#453 Fix BLS: gas computation and minor issues
  contracts/libs/BLS.sol
  contracts/libs/BNPairingPrecompileCostEstimator.sol
Labels: bugfix
