Repository thehubbleproject/hubble-contracts, pull requests merged in 2021-08, with the labels that each got.

#638 Add subtreeID, depositCount to DepositQueued event
  contracts/DepositManager.sol
  test/fast/deposit.test.ts
  ts/client/services/events/depositQueued.ts
Labels: client, contracts

#639 updated deposit manager to skip erc20 transfer
  contracts/DepositManager.sol
  test/fast/deposit.test.ts
Labels: contracts

#636 Token & FeeRecievers Scripts
  README.md
  docs/setup/LOCAL_DEVELOPMENT.md
  docs/setup/NODE_OPERATOR.md
  package-lock.json
  package.json
  scripts/deploy.ts
  scripts/feeReceivers.ts
  scripts/genParam.ts
  scripts/tokens.ts
  test/client/deposit.test.ts
  ts/client/config.ts
  ts/client/database/connection.ts
  ts/client/node.ts
  ts/client/services/events/depositQueued.ts
  ts/client/services/events/depositsFinalised.ts
  ts/client/tokenbase.ts
  ts/file.ts
  ts/genesis.ts
  ts/utils.ts
Labels: client

#640 added RollbackTriggered event
  contracts/rollup/BatchManager.sol
  contracts/rollup/Rollup.sol
  contracts/test/TestRollup.sol
  test/fast/rollback.test.ts
Labels: contracts

#643 Zero based depositID, docstrings for DepositManager.sol
  contracts/DepositManager.sol
  contracts/rollup/Rollup.sol
  test/fast/deposit.test.ts
  ts/client/services/events/depositsFinalised.ts
Labels: contracts, client

#652 Fix getHighestValueToken to work with zero fee txs
  test/fast/txPool.test.ts
  ts/client/txPool.ts
  ts/exceptions.ts
Labels: bugfix, client

#647 added mapping from pubkey hash to states
  config.local.json
  package-lock.json
  package.json
  test/client/pubkey2states.test.ts
  ts/client/database/connection.ts
  ts/client/database/pubkey2states.ts
  ts/client/database/stateEngine.ts
  ts/client/features/transfer.ts
  ts/client/index.ts
  ts/client/services/rpc.ts
Labels: client
