Repository thehubbleproject/hubble-contracts, pull requests merged in 2021-06, with the labels that each got.

#598 Validate Genesis Root
  test/client/integration.test.ts
  ts/client/contexts.ts
  ts/client/coreAPI.ts
  ts/client/features/genesis.ts
  ts/client/services/events/newBatch.ts
  ts/exceptions.ts
  ts/genesis.ts
Labels: client

#599 Deposit Packing
  scripts/simulate.ts
  test/client/batch.test.ts
  test/client/deposit.test.ts
  test/client/integration.test.ts
  test/client/stateEngine.test.ts
  ts/client/config.ts
  ts/client/constants.ts
  ts/client/contexts.ts
  ts/client/coreAPI.ts
  ts/client/features/deposit.ts
  ts/client/features/interface.ts
  ts/client/features/transfer.ts
  ts/client/node.ts
  ts/client/services/base.ts
  ts/client/services/events/depositQueued.ts
  ts/client/services/packer.ts
  ts/client/services/syncer.ts
  ts/client/storageEngine/interfaces.ts
  ts/client/storageEngine/memoryEngine.ts
  ts/interfaces.ts
  ts/stateTree.ts
  ts/utils.ts
Labels: client

#601 Add batchID verification to Rollup submit* functions
  contracts/rollup/Rollup.sol
  scripts/benchmark.ts
  test/client/batch.test.ts
  test/fast/deposit.test.ts
  test/integration.test.ts
  test/slow/rollup.create2Transfer.test.ts
  test/slow/rollup.massMigration.test.ts
  test/slow/rollup.transfer.test.ts
  ts/client/features/deposit.ts
  ts/client/features/transfer.ts
  ts/client/storageEngine/batches/interfaces.ts
  ts/client/storageEngine/batches/memory.ts
  ts/commitments.ts
Labels: client, contracts

#604 Add core leveldb functionality
  package-lock.json
  package.json
  ts/client/database/connection.ts
  ts/interfaces.ts
  ts/pubkey.ts
  ts/tree/leaves/Leaf.ts
  ts/tree/leaves/PubkeyLeaf.ts
  ts/tree/leaves/StateLeaf.ts
Labels: client

#611 Fix initial sync blocking rest of node processes.
  package.json
  ts/client/node.ts
  ts/client/services/syncer.ts
Labels: client

#615 Minor bid improvements
  SETUP.md
  docker/docker-compose.yml
  ts/burnAuction.ts
  ts/client/services/bidder.ts
Labels: client

#618 Update dependencies
  docker/docker-compose.yml
  package-lock.json
  package.json
  test/fast/deposit.test.ts
  test/integration.test.ts
  test/slow/rollup.create2Transfer.test.ts
  test/slow/rollup.massMigration.test.ts
  test/slow/rollup.transfer.test.ts
Labels: bugfix, dependencies

#606 Add config file, multi-token config support, node mode updates
  SETUP.md
  config.local.json
  docker/Dockerfile
  docker/README.md
  docker/config.docker.json
  docker/docker-compose.yml
  package-lock.json
  package.json
  scripts/deposit.ts
  scripts/simulate.ts
  test/client/integration.test.ts
  test/fast/hubble.test.ts
  ts/client/config.ts
  ts/client/constants.ts
  ts/client/coreAPI.ts
  ts/client/index.ts
  ts/client/node.ts
  ts/client/services/packer.ts
  ts/client/services/rpc.ts
  ts/client/terminus.ts
  ts/client/txPool.ts
  ts/deploy.ts
  ts/exceptions.ts
  ts/genesis.ts
  ts/hubble.ts
Labels: client
