Repository thehubbleproject/hubble-contracts, pull requests merged in 2021-04, with the labels that each got.

#537 Packer
  scripts/simulate.ts
  test/client/integration.test.ts
  ts/burnAuction.ts
  ts/client/features/base.ts
  ts/client/features/deposit.ts
  ts/client/features/interface.ts
  ts/client/features/transfer.ts
  ts/client/node.ts
  ts/client/services/base.ts
  ts/client/services/bidder.ts
  ts/client/services/packer.ts
  ts/client/services/simulator.ts
  ts/client/services/syncer.ts
Labels: client

#543 avoid side effects of failing processTransfer
  ts/client/features/transfer.ts
  ts/client/stateTransitions.ts
Labels: client

#546 Prettify hex
  ts/client/features/base.ts
  ts/client/services/syncer.ts
  ts/utils.ts
Labels: client

#545 Some RPC
  package-lock.json
  package.json
  scripts/repl.ts
  test/fast/hubble.test.ts
  ts/client/features/transfer.ts
  ts/client/node.ts
  ts/client/services/rpc.ts
  ts/hubble.ts
  ts/mcl.ts
  ts/state.ts
Labels: client

#547 Integrate tx pool
  test/client/txpool.test.ts
  ts/client/features/transfer.ts
  ts/client/node.ts
  ts/client/services/packer.ts
  ts/client/services/rpc.ts
  ts/client/txPool.ts
Labels: client

#550 Move dependencies to a core api
  test/client/integration.test.ts
  ts/client/contexts.ts
  ts/client/coreAPI.ts
  ts/client/node.ts
  ts/client/services/packer.ts
  ts/client/services/syncer.ts
  ts/deploy.ts
  ts/genesis.ts
Labels: client

#549 sig and nonce verification for packer
  test/client/integration.test.ts
  ts/blsSigner.ts
  ts/client/coreAPI.ts
  ts/client/features/transfer.ts
  ts/client/services/packer.ts
  ts/mcl.ts
Labels: client

#556 Sync public key registration
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  scripts/deploy.ts
  test/client/integration.test.ts
  test/integration.test.ts
  ts/client/coreAPI.ts
  ts/client/node.ts
  ts/client/services/syncer.ts
  ts/deploy.ts
  ts/factory.ts
  ts/pubkey.ts
  tsconfig.json
Labels: client

#560 Update prettier-plugin-solidity
  contracts/DepositManager.sol
  contracts/Vault.sol
  contracts/WithdrawManager.sol
  contracts/client/FrontendCreate2Transfer.sol
  contracts/client/FrontendMassMigration.sol
  contracts/client/FrontendTransfer.sol
  contracts/deployment/Deployer.sol
  contracts/deployment/Proxy.sol
  contracts/libs/Authenticity.sol
  contracts/libs/BLS.sol
  contracts/libs/BNPairingPrecompileCostEstimator.sol
  contracts/libs/MerkleTree.sol
  contracts/libs/Transition.sol
  contracts/libs/Tx.sol
  contracts/rollup/Rollup.sol
  contracts/test/TestCreate2Transfer.sol
  contracts/test/TestMassMigration.sol
  contracts/test/TestTransfer.sol
  contracts/test/TestTypes.sol
  package-lock.json
  package.json
Labels: bugfix, contracts

#562 Simplify DepositQueued event
  contracts/DepositManager.sol
  test/fast/deposit.test.ts
Labels: contracts

#569 Sync DepositQueued event
  test/fast/deposit.test.ts
  ts/client/features/base.ts
  ts/client/features/deposit.ts
  ts/client/services/events/batchPubkeyRegistered.ts
  ts/client/services/events/contractEventSyncer.ts
  ts/client/services/events/depositQueued.ts
  ts/client/services/events/interfaces.ts
  ts/client/services/events/newBatch.ts
  ts/client/services/events/sequentialCompositeEventSyncer.ts
  ts/client/services/events/singlePubkeyRegistered.ts
  ts/client/services/syncer.ts
  ts/client/storageEngine/memoryEngine.ts
  ts/commitments.ts
  ts/state.ts
Labels: client
